#body1{
    font-family: 'Ropa Sans';
    margin: 0;
    padding: 0;
    background-color: rgb(142, 134, 188);
    width: 100%;
    overflow: hidden;
    
  }
  #body2{
    font-family: 'Ropa Sans';
    margin: 0;
    padding: 0;
    background-color: rgb(142, 134, 188);
    width: 100%;
    
  }
  
 
  html {
    height: 100%;
  }
  
  header{
      color: #E2DFF5;
      padding-left: 15%;
      padding-right: 15%;
      font-size:200%; 
      
  }
  #logo{
      width: 70px;
      float: left;
      
  }
  a{  
      color: #E2DFF5;
      text-decoration: none;
  }
  #podstrona{
    padding-top: 15px;
    float: left;
      margin-left: 10%;
  }
#log-in{
    padding-top: 15px;
    float: right;
}
#main{
    color: #E2DFF5;
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 100px;
}
#main2{
    color: #E2DFF5;
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 150px;
	padding-top:8%;
}
#mainTxt{
    float: left;
    font-size: 500%;
    width: 50%;

}
#mainPng{
    float:left;
    width: 50%;
}
#form1{
    margin-top: 5%;
}
#form2{
    width: 50%;
    margin: auto;
}
#formElement{
    background-color: rgba(226, 223, 245,0.5);
    border: 1px solid #7A6EB0;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;    
    font-family: 'Ropa Sans';
    font-weight: bold;
    font-size: large;
    color: #3C375C;
    
    
}
#formElement2{
    background-color: rgba(226, 223, 245,0.5);
    border: 1px solid #7A6EB0;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;    
    font-family: 'Ropa Sans';
    font-weight: bold;
    font-size: large;
    color: #3C375C;
    margin:2.5%;
    
    
}
#footer1{
    clear: both;
    width: 50%; 
    color: #E2DFF5;
    text-align: center;
    padding: 1% 0 1% 0;
    font-size:medium;
    padding-left: 30%;
	position:absolute;
	bottom:7%;
	
    
}
#footer2{
    clear: both;
    width: 50%; 
    color: #E2DFF5;
    text-align: center;
    padding: 1% 0 1% 0;
    font-size:medium;
    margin: auto;
    margin-top: 50px;
    
    
}
#kontakt{
    float: left;
    width: 33.3%;
    text-align: center;
    
}
#media{
    float: left;
    width: 33.3%;
    text-align: center;
}
#regulamin{
    float: left;
    width: 33.3%;
    text-align: center;
}


  
 
svg {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.container1 {
    display: inline-block;
    position: absolute;
    width: 100%;
    padding-bottom: 20%;
    vertical-align: middle;
    overflow: hidden;
    top: 0;
    left: 0;
}
.container {
    display: inline-block;
    position: absolute;
    width: 100%;
    padding-bottom: 2%;
    vertical-align: middle;
    overflow: hidden;
    top: 0;
    left: 0;
}



#ogloszenie{
    margin: auto;
    background-color: rgba(226, 223, 245,0.8);
    border-radius: 20px;
    width: 50%;
    height: 200px;
    margin-top: 2%;

}
#zdjecie{
    float: left;
    padding: 5%;
    width: 10%;
    box-shadow: #3C375C;

}
#zdjOgloszenie{
    border-radius: 50%;
    height:70px;
    width:70px;
}
#dane{
    padding-left: 5%;
    float: left;
    width: 30%;
    height: 100%;

}
#omnie{
    padding-left: 5%;
    float: left;
    width: 30%;
    height: 100%;
}

h3{
    
    color: #3C375C;
}
#info{
    color: #7A6EB0;
}
#info2{
    color: #3C375C;
}
#logowanie{
	color:#7A6EB0;
	text-align:center;
	margin: auto;
    border-radius: 20px;
    width: 50%;
    padding:3%;
	padding-top:1%;
    margin-top: 2%;
	background-color: rgba(226, 223, 245,0.8);
}
#rejestracja{
	color:#7A6EB0;
	text-align:center;
	margin: auto;
    border-radius: 20px;
    width: 50%;
	padding:3%;
	padding-top:1%;
    margin-top: 2%;
	background-color: rgba(226, 223, 245,0.8);
}
#inputlog{
	 background-color: rgba(226, 223, 245,0.5);
    border: 1px solid #7A6EB0;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;    
    font-family: 'Ropa Sans';
    font-weight: bold;
    font-size: large;
    color: #3C375C;
	width:100%;
	margin:auto;
	margin-top:15px;
		color:#7A6EB0;
}
#submitlog{
	 background-color: rgba(226, 223, 245,0.5);
    border: 1px solid #7A6EB0;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;    
    font-family: 'Ropa Sans';
    font-weight: bold;
    font-size: large;
    color: #3C375C;
	width:100%;
	margin:auto;
	margin-top:40px;
	color:#7A6EB0;
}
#log{
	
	width:50%;
	margin:auto;
	
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#7A6EB0;
  opacity: 1; /* Firefox */
}