body{
    font-family: 'Ropa Sans';
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #6D65A9 0%, rgba(143, 132, 219, 0.21) 100%) no-repeat;
    width: 100%;
    height:fit-content;
  }
  html {
    height: 100%;
  }
  
  header{
      color: #E2DFF5;
      padding-left: 15%;
      padding-right: 15%;
      font-size:200%; 
      
  }
  #logo{
      width: 70px;
      float: left;
  }
  a{  
      color: #E2DFF5;
      text-decoration: none;
  }
  #podstrona{
    padding-top: 15px;
    float: left;
      margin-left: 10%;
  }
#log-in{
    padding-top: 15px;
    float: right;
}
#main{
    color: #3C375C;
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 150px;
    
   

}
#mainTxt{
    float: left;
    font-size: 500%;
    width: 50%;

}
#mainPng{
    float:left;
    width: 50%;
}
form{
    margin-top: 5%;
}
#formElement{
    background-color: #E2DFF5;
    border: 1px solid #7A6EB0;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;    
    font-family: 'Ropa Sans';
    font-weight: bold;
    font-size: large;
    color: #3C375C;
    
    
}
footer{
    clear: both;
    width: 100%;
    background-color: #3C375C;
    position: absolute;
    bottom: 0;
    color: #7A6EB0;
    text-align: center;
    padding: 1% 0 1% 0;

}
#kontakt{
    float: left;
    margin-right:10%;
    
}
#media{
    float: left;
    margin-right:10%;
}
#authors{
    float: left;
    margin-right:10%;
    margin-left: 20%;
}

  
 
